.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
*{
    box-sizing: border-box;
}
.navigation{
    display: flex;
    border: 1px solid;
    padding: 1.2% 5%;
    justify-items: space-between;
    align-items: center;
    overflow: hidden;
}
.navigation-mobile{
}
.navigation-mobile ul{
    list-style-type: none;
    border: 1px solid;
}
.navigation-mobile  ul li{
    list-style: none;
}

a{
    text-decoration: none;
}